
body{
    background-color:rgba(0, 128, 0, 0.11);
}

.graph{
    margin: 50px;
}

.ichiran{
    width: 60%;
    margin: 0 auto;
}

.container{
    border: solid;
    border-radius: 20px;
    border-color: gray;
}

.container1{
    font-size: 24px;
    margin: 10px;
}

.container2{
    margin: 10px;
    text-align: left;
}

.koremade{
    text-align:center;
}

.main-box{
    display: flex;
}

.sub-box{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-edit{
    margin-right: 10px;
}

.time{
    text-align: right;
    margin-left: 20px;
    margin-right: 10px;
}

