<html>

    <h1 class="home-menu-record-title">記録する</h1>
    <div class="home-menu-record-matome">
        <div class="home-menu-record-thermometer">
            <div class="home-menu-record-thermometer-sign">
                <%= link_to 'thermometer', thermometers_show_path, :class => "home-menu-record-thermometer-sign-link" %>
            </div>
        </div>
        <div class="home-menu-record-PSS4">
            <div class="home-menu-record-PSS4-sign">
                <%= link_to 'PSS4', tests_pssfours_index_path, :class => "home-menu-record-PSS4-sign-link" %>
            </div>
        </div>
        <div class="home-menu-record-arm">
            <div class="home-menu-record-arm-sign">
                <%= link_to '雑談', zatsudans_index_path, :class => "home-menu-record-arm-sign-link" %>
            </div>
        </div>
    </div>

    <div class="home-menu-record-thermometer-note" >ストレスを10段階で評価します。<br>毎日記録をつけることで、自分がどのような状況でストレスを感じやすいのか、客観的に把握することができるようになります。
    </div>
    <div class="home-menu-record-PSS4-note">4つの質問に答えることで簡単に抑うつ度を測ることができます。月に一度行うことで定期的に自分の精神状態をモニタリングしましょう。
    </div>
    <div class="home-menu-record-arm-note">アンケートを通して自分の雑談力を定量的に振り返ります。</div>


</html>