<html>

    <h1 class="home-menu-record-title">記録する</h1>

    <div class="home-menu-record-thermometer-sign">
        <%= link_to 'thermometer', thermometers_new_path, :class => "home-menu-record-thermometer-sign-link" %>
    </div>
    <div class="home-menu-record-thermometer-note" >自分のストレス度をつかむために、もっともお手軽なのが「ストレスサーモメータ」。心理カウンセリングの世界でも使われる、定番のテクニックです。方法は簡単で、下の温度計を見ながら、「今のストレスは何点だろう？」と採点してください。「主観で決めて大丈夫なの？」と思われるかもしれませんが、これがバカにできない精度を持っています。アメリカで行われたある実験では、学生たちに自分のストレスを10点満点で採点させたところ、数十問で構成された大がかりなストレス診断を受けた場合と、さほど結果は変わりませんでした。とりあえず、大まかに現状をつかむには十分でしょう。また、このテクニックが良いのは、ストレスに点数をつけただけでも、ある程度イライラ解消の効果が得られるところです。「なんだかイライラする…」と思うだけではどうすればいいのか分かりませんが、数字で示されると「いまは7点だから、せめて4点くらいには下げよう」といった明確な指針ができます。その安心感が、心にゆとりを生むのです。
    </div>

    <div class="home-menu-record-PSS4-sign">
        <%= link_to 'PSS4', tests_pssfours_new_path, :class => "home-menu-record-PSS4-sign-link" %>
    </div>
    <div class="home-menu-record-PSS4-note">4つの質問に答えることで簡単に抑うつ度を測ることができます。月に一度行うことで定期的に自分の精神状態をモニタリングしましょう。
    </div>

    <div class="home-menu-record-zatsudan-sign">
        <%= link_to '雑談', thermometers_show_path, :class => "home-menu-record-zatsudan-sign-link" %>
    </div>
    <div class="home-menu-record-zatsudan-note">ストレスの発生源は多様です。しかし中でも人間関係からくるストレスは多くの人に共通なのではないでしょうか。<br>「人付き合いが苦手で、毎日学校（職場）に行くのが辛い。」「友達が欲しいけどできなくて寂しい。」<br>そんな人はぜひこの「雑談」機能を使ってみてください。<br>アンケートを通して自分の雑談力を「始め方」「広げ方」「聞き方」「盛り上げ方」の４つの要素に分解し、定量的に評価、得意分野・苦手分野を抽出します。得意分野は伸ばし、苦手分野は改善する。これを繰り返すことで、雑談力を鍛えます。頻度は好きに決めて大丈夫です。</div>


</html>
