<html>
    <div class="record">
        <div class="record-sign">
            <%= link_to '記録する', thermometers_new_path %>
        </div>
        <div class="record-note">自分のストレス度について記録をとることで、ストレスの被害者からストレスの観察者になる。</div>
    </div>
    <div class="reflection">
        <div class="reflection-sign">
            <%= link_to '振り返る', thermometers_show_path %>
        </div>
        <div class="reflection-note">自分がどのような条件下でストレスを感じるのか振り返ることで、ストレスの観察者からストレスの分析者になる。</div>
    </div>
    <div class="arm">
        <div class="arm-sign">
            <%= link_to '強くなる', thermometers_show_path %>
        </div>
        <div class="arm-note">ストレスを解消するための武器を手に入れることで、ストレスの分析者からストレスへの反撃者になる。</div>
    </div>

<html>




<style>
    body.background-image{
        url('Users/speci/Pictures/GeekSalon/1.png')
    }

    .record, .reflection, .arm{
        display:flex;
        align-items:center;
    }

    .record-sign, .reflection-sign, .arm-sign{
        width:150px;
        height:150px;
        margin-top:50px;
        margin-right:50px;
        margin-left:50px;
        border-radius: 50%;
        border: solid;
        background-color:lightgreen;
        border-color:lightgreen;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .record-note, .reflection-note, .arm-note{
        margin-top:50px;
    }


    
</style>

<script>
var ctx = document.getElementById("cv").getContext("2d");
ctx.beginPath();
ctx.arc(120, 120, 100, 0, Math.PI*2, true);
ctx.stroke();
</script>