

<h1 class="weapontitle">hasunoha</h1>

<div class="weaponcontainer">

<p>
    <a href='https://hasunoha.jp/'>hasunoha</a>は、お坊さんに悩みを相談できるWebサイトです。近年、心理学や幸福学の分野から大きな注目を集めている東洋哲学。「マインドフルネス」「瞑想」こういった言葉を聞く機会も増えてきました。誰かに話を聞いてもらいたいという人は一度相談してみると良いかもしれません。
</p>

</div>