
<h1 class="weapontitle">プレバイオティクス</h1>


<div class="weaponcontainer">

    <p>ここ数年、「ストレス対策に効くのでは？」と言われるようになったのがプレバイオティクスです。
    これは、私たちの町内に住みバクテリアのエサになる物質のこと。たとえば、水溶性の食物繊維やオリゴ糖などが、代表的なプレバイオティクスです。
    腸内細菌が、人体の働きに大事な役割を果たしているのは有名でしょう。
    たとえば、腸内細菌はプレバイオティクスを分解して短鎖脂肪酸という物質を産生。これが腸の壁を強化し、体内に異物が入り込むのを防いでくれます。
    ご存知の通り、私たちの腸は人体でも最大の免疫器官です。その機能が壊れてしまうと、アレルギーや心疾患、肥満などの原因になることが明らかになっています。
    つまり腸内細菌とは、免疫の最前線で戦ってくれる優秀な兵士なのです。
    ところが、現代人は食物繊維などの摂取量がとても少ないため、満足に腸内細菌が働いてくれません。その結果、腸のバリアが壊れ、様々な不調の原因になるのです。
    しかし、腸内細菌が影響を与えるのは、私たちの体だけではありません。というのも、近年の研究により、腸内環境のコンディションは脳の働きも左右することがわかってきたからです。そのメカニズムに関係しているのが、セロトニンという物質です。これは脳の神経伝達に関わる物質で、感情をコントロールする働きがあることから、俗に「幸せホルモン」とも呼ばれています。
    カリフォルニア工科大学の研究によれば、まずは体内に入ったプレバイオティクスから腸内細菌が脂肪酸（酪酸やチラミンなど）を製造、これが血管を通って脳に作用し、セロトニンの分泌を促します。
    つまり、プレバイオティクスはお腹の調子を良くするだけでなく、私たちをストレスに強くしてくれる可能性があるのです。
    事実、近頃は、この説を裏付けるようなデータがいくつか出てきました。たとえば、2015年にオックスフォード大学が行った実験では、女性の被験者に市販のプレバイオティクスサプリを飲み続けてもらいました。すると、3週間後、サプリを使ったグループには次のような変化が起きています。
    ・ネガティブな情報に意識が向いてしまう回数が減少
    ・ストレスホルモンの分泌も大幅に低下
    腸内細菌にエサをあげただけでメンタルが劇的に改善し、ストレスホルモンも減ったわけです。
    データによれば、その不安解消レベルは抗うつ薬や抗不安薬とほぼ同じだったというから驚きます。
    もちろん、腸内細菌とメンタルの研究は始まったばかりなので、「プレバイオティクスで確実にストレスに強くなる！」とはまだ言えない段階です。しかし、よしんばメンタルが改善しなかったとしても、オリゴ糖や食物繊維が体に良いのは間違いないため、積極的に摂取しておいて損はありません。
    プレバイオティクスを摂取するには、厚労省が定めるように1日に350g以上の野菜をとるのが基本ですが、どうしても難しい方はサプリを使うのも有効です。
    （鈴木祐「超ストレス解消法」より）</p>

</div>