<html>

    <h1 class="home-menu-record-title">強くなる</h1>

    <div class="home-menu-record-thermometer-sign">
        <%= link_to '武器一覧', home_menu_weapon_path, :class => "home-menu-record-thermometer-sign-link" %>
    </div>
    <div class="home-menu-record-thermometer-note" >ストレスを解消するのに有効な方法を掲載しています。自分でオリジナルのものを追加することもできます。
    </div>
    
    <div class="home-menu-record-PSS4-sign">
        <%= link_to 'みんなの武器', weapons_path, :class => "home-menu-record-PSS4-sign-link" %>
    </div>
    <div class="home-menu-record-PSS4-note">他のユーザーが作った武器を見ることができます。参考になるものがあれば自分の武器リストにも取り入れてみましょう。
    </div>

    <div class="home-menu-record-zatsudan-sign">
        <%= link_to 'if・thenプランニング', new_ifthen_path, :class => "home-menu-record-zatsudan-sign-link" %>
    </div>
    <div class="home-menu-record-zatsudan-note">最後のステップです。「どのような時にストレスを感じるのか」と「ストレスを解消するためにどのような方法があるか」が分かったら、それらを組み合わせて、「もし・いつ、どうするか」を決めてください。
    </div>


</html>