
<h1 class="weapontitle">OURA RING</h1>

<div class="weaponcontainer">

    <p>
    ストレスを自分でチェックするのが面倒な場合は、デジタルガジェットを使うのも手です。
    「OURA RING」はフィンランドで生まれた指輪型のガジェットで、指にはめた状態で使います。
    指輪の内側には血流を測るセンサーが内蔵されており、ユーザーの活動量、睡眠の質、ストレスレベルなどを計測、自動でスマホに記録を残し、毎日のストレス度の変化をグラフで表示してくれます。
    このガジェットが面白いのは、ストレスの測定に「心拍数」を使っている点です。
    これは、心臓が一回ドクンと動いたら、次にまたドクンと動くまでの時間のこと。
    近年の研究により、この心拍変動が私たちのストレスを正確に反映していることが分かってきました。これまでは大がかりな心電図で測るのが普通でしたが、「OURA RING」の登場により、手軽で正確なストレス測定が可能になったわけです。
    また、この手のアイテムは科学的な根拠に乏しいケースがよくありますが、「OURA RING」に関しては、2017年にスタンフォード大学が、計測の正確性を確かめる研究を実施。「OURA RING」は他のウェアラブルデバイスよりも計測の制度が高いとの結論を出しています。
    新しいデバイスなので研究の積み重ねは必要ですが、「なるべく手間がかからずストレスチェックを自動化したい！」という方には最適でしょう（鈴木祐「超ストレス解消法」より）
    </p>

</div>