
<h1 class="weapontitle">ベアフット・ランニング</h1>

<div class="weaponcontainer">

<p>
「ベアフット・ランニング」は、素足で芝生や土の上を走るエクササイズです。裸足で砂浜などを歩くと妙に心地がいいものですが、メンタルへの良い影響を示すデータが増えています。
たとえば、ノースウエスタン大学による実験では、学生を２つのグループに訳て、15分だけ大学のキャンパス内を自由にランニングするように指示を出しました。
グループ１：裸足で走る。
グループ２；ランニングシューズで走る。
その後、全員に心理チェックと認知テストを行ったところ、裸足で走ったグループのみワーキングメモリの性能が16%もアップ。と同時に、ストレスレベルも大きく減少していました。
「ベアフット・ランニング」でメンタルが改善する理由は、ハッキリしていませんが、おそらく「木登り」と同じメカニズムが働いているのでしょう。シューズよりも裸足の方が自分の動作を強く意識するため、その分だけワーキングメモリを向上しやすいのです。
研究チームは言います。
「ときおり、小さなことが大きなインパクトをもたらすことがある。この実験は、楽しみながら頭を良くする方法があることを示している。シューズを脱いで走り出すだけで、私たちはより健やかに賢くなれるのだ」
まだ検証データが少ないのが難点ながら、試してみるだけの価値は十分にありそうです。
</p>

</div>