<body>

<div class="zatsudan-show-title">
  <p class="zatsudan-index-text">雑談インデックス<br><spam class="zatsudan-index"><%= @totalscore %></spam></p>
</div>

<div class="zatsudan-show-wrapper">

  <div class="graph-bar-zatsudan">
  <canvas id="myChart" width="960" height="300">
    <script>
      var ctx = document.getElementById('myChart');
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['始め方', '広げ方', '聞き方', '盛り上げ方'],
          datasets: [{
            data: [gon.hajimekata, gon.hirogekata, gon.kikikata, gon.moriagekata],
            backgroundColor: ["rgba(0, 128, 0, 0.2)", "rgba(255, 255, 0, 0.2)", "rgba(0, 0, 255, 0.2)", "rgba(255, 0, 0, 0.2)"],
            borderColor: ["rgba(0, 128, 0, 1)", "rgba(255, 255, 0, 1)", "rgba(0, 0, 255, 1)", "rgba(255, 0, 0, 1)"],
            borderWidth: 1
          },
          {label: '総合点(平均)',
          type: "line",
          fill: false,
          data: [gon.total, gon.total, gon.total, gon.total],
          borderColor: "rgba(128, 0, 128, 1)"
        }]
        },
        options: {
          responsive: true,
          legend: {
            display: false
          },
          /*title{
            display: false
          },*/ //なんかここ効かせると表示されなくなる。
          scales: {
            yAxes: [{
              display: true,
              ticks: {
                min: 30,
                max: 100,
                fontSize: 18,
                stepSize: 10
              }
            }],
            xAxes: [{
              display: true,
              barPercentage: 1,
              categoryPercentage: 0.5,
              ticks:{
                fontSize: 18
              }
            }]
          }
        }
      });
    </script>
  </canvas>
  </div>

</div>

  <div class="zatsudan-show-link">
    <%= link_to 'これまでの推移を見る', zatsudans_path, :class => "home-menu-weapon-link-entity" %>
  </div>

</body>

<style>

  .zatsudan-show-container{
    text-align: center;
  }

  .zatsudan-show-scoreboard{
    display:flex;
    width: 30% ;
    margin: 0 auto;
    font-size: 24px;
  }

  .zatsudan-show-category{
    margin-right: auto;
  }

  .zatsudan-show-score{
    margin-left: auto;
  }


</style>