<body>
  <div class="pss4sokuhou">
    <h3 class="pss4result">雑談力スコア</h3>

    <p class="pssresult1"><%= @sumofhajimekata/16*100 %></p>
    <br>
    <%= link_to 'これまでの推移を見る', :controller => "zatsudans", :action => "index" %>

  </div>
</body>