<body>

    <div class="edit">
        <%= form_for @memo do |f| %>
            <%= f.label :あなたのストレス解消の武器を教えてください %>
            <br>
            <%= f.text_area :body, :size => 140 %> 
            <br>
            <%= f.submit "編集する" %>
        <% end %>
    </div>

 </body>

 <style>

    .edit{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

 </style>