

<body>

  <div class="edit">
    <div>
      <%= form_for @memo, url: tests_pssfour_path do |f| %>
        <%= f.text_area :memo, placeholder: "メモ", class: "textlines-edit" %> 
        <br>
        <%= f.submit "メモを追加・編集する", class: "btn-submit" %>
      <% end %>
    </div>
  </div>

</body>
