/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*application.html.erbのheader*/

      .users-registration-name{
        height: 16px; width: 165px;
      }

      .menu{display:flex;
            justify-content:flex-end;
      }

      .headertext{
        font-size:24pt;
        color:white;
        font-family:Book Antiqua;
        text-decoration: none;
        margin: 0px 0px 0px 20px;
        width:230px;
      }
      .menu-record, .menu-reflection, .menu-arm{
        margin-left:25px;   
        text-decoration: none;
      }
      .menu-arm{
      margin-right: 25px;
      }


      header{
            background-color: rgba(0, 128, 0, 0.8);
            width: 100%;
            
      }

      .title{
        display:flex;
        align-items:center;
      }

      .header-title-span{
        font-size: 14px;
        margin-bottom: 0px;
        margin-left: 5px;
        color: white;
        text-align: bottom;
      }

      .headertext-logout{
        text-decoration: none;
        font-size: 14px;
        padding: 10px 20px 0px 10px;
        color: white;
      }

      .headertext-mypage{
        text-decoration: none;
        font-size: 14px;
        padding: 10px 10px 0px 10px;
        color: white;
      }

      ul.header-dropmenu {
        list-style: none;
        display: table;
        table-layout: fixed;
        margin: 0px;
        padding: 0px;
        margin: 0 auto;
      }

      ul.header-dropmenu > li {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        padding: 0.5em 1em;
        text-decoration: none;
        color: #FFF;
        width: 140px;
      }

      ul.header-dropmenu-2{
        list-style: none;
        display: table;
        table-layout: fixed;
        margin: 0px;
        padding: 0px;
        width: 230px;
      }

      ul.header-dropmenu-2 > li {
        position: relative;
        display: table-cell;
        padding: 0.5em;
        vertical-align: middle;
        text-decoration: none;
        color: #FFF;
        width: 100px;
      }

      .list {
        display: block;
        text-align: center;
        line-height: 40px;
        font-weight: bold;
        text-decoration: none;
        font-size: 16px;
        font-weight: lighter;
        color:white;
      }

      .list-2{
        display: block;
        text-align: center;
        line-height: 40px;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        font-weight: lighter;
        color:white;
      }

      ul.header-dropmenu li ul {
        visibility: hidden;
        width: 100%;
        list-style: none;
        position: absolute;
        top: 100%;
        left: -1px;
        margin: 0;
        padding: 0;
        border-top: none;
      }
      ul.header-dropmenu li:hover ul {
        visibility: visible;
      }
      ul.header-dropmenu li ul li {
        background:rgba(0, 128, 0, 0.8);
        transition: all .2s ease;
      }
      ul.header-dropmenu > li:hover {
        border: 1px solid transparent; /* マウスオーバー時の枠線 */
        border-bottom: none;
      }
      ul.header-dropmenu li:hover ul li:hover {
        background:rgba(0, 128, 0, 1) ;
      }

      .record-note-span, .reflection-note-span, .arm-note-span{
        color:red;
        font-size:36px;
      }

/*application.html.erbのheader終わり*/

/*application.html.erbのbody*/

      body {
            background-image: url("/background0.jpg");
            background-size: cover;
            margin: 0;

      }

      footer{
        height: 25px;
        background-color: rgba(0, 128, 0, 0.8);
        text-align: center;
        color: white;
        width: 100%;
        position: absolute;/*←絶対位置*/
        bottom: 0; /*下に固定*/
      }

/*application.html.erbのbody終わり*/

/*hello/index*/

  .firsttitle-container{
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .firsttitle{
    font-size: 72px;
    text-align: center;
    margin-top:200px;
    font-family:Book Antiqua;
  }

  
  .login{
    display: flex;
    justify-content: center;
    margin: 50px 0px 0px 0px;
  }

  .hello-index-login{
    text-decoration: none;
  }
  .hello-index-sinki{
    text-decoration: none;
  }

  .hello-index-sinki{
    margin-left: 10px;
  }

  .hello-index-subtitle{
    text-align: center;
    font-weight: bolder;
  }

  .firsttitle{
    margin-bottom: 0px;
  }

  .home-menu{
    position: relative;
    height: 700px;
    width: 100%;
    background-color: transparent;
    background-size: cover;
    overflow: hidden;
  }

  .home-menu-sign-wrapper{
    position: relative;
    height: 400px;
    width: 100%;
  }

  .home-menu-whiteboard-wrapper{
    position: relative;
  }

  .home-menu-record-whiteboard{ 
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    height: 600px;
    width: 85%;
    background-color: white;
    border: solid;
    border-color: white;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .home-menu-record-whiteboard-bottom{ 
    margin: 100px 20% 100px 5%;
    position: relative;
    height: 600px;
    width: 85%;
    background-color: white;
    border: solid;
    border-color: transparent;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0% 5% 0% 5%;
  }

  .home-menu-record-whiteboard-middle{
    margin: 100px 5% 100px 30%;
    position: relative;
    height: 600px;
    width: 85%;
    background-color: white;
    border: solid;
    border-color: transparent;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0% 5% 0% 5%;
  }

  .home-menu-record-whiteboard-top{ 
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 100px;
    position: relative;
    height: 600px;
    width: 85%;
    background-color: white;
    border: solid;
    border-color: white;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .muscleman{
    height: 700px;
    position: absolute; left: -20%;
  }

  .strechingwoman{
    height: 700px;
    position: absolute; left: 0%;
  }

  .musclewoman{
    height: 600px;
    position: absolute; left: 65%;
    z-index: 0;
  }

  .rockcrimingwoman{
    height: 600px;
    position: absolute; left: 65%;
    z-index: 0;
  }

  .abroalerman{
    height: 600px;
    position: absolute; top: 20%; left: -10%;
    z-index: 2;
  }

  .catchflase{
    font-size: 42px;
    position: absolute; top: 2%; left: 35%;
    font-family: MS Mincho;
    text-shadow: 1px 1px  gray;
    font-weight: bolder;
  }

  .record{
    position: absolute; top: 64%; left: 32%;
  }

  .reflection{
    position: absolute; top: 42%; left: 37%;
  }

  .arm{
    position: absolute; top: 20%; left: 42%;
  }

  .record, .reflection, .arm{
    display:flex;
    align-items:center;
    justify-content: flex-end;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
  }
  
  .record:hover, .reflection:hover, .arm:hover{
    opacity: 1 ;

  }

  .record-sign-1, .reflection-sign-1, .arm-sign-1{
    text-decoration: none;
    width:200px;
    height:200px;
    margin-right:50px;
    border-radius: 50%;
    border: solid;
    background-color:rgb(0, 128, 0);
    border-color:transparent;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .record-note, .reflection-note, .arm-note{
    font-size: 15px;
    font-weight: bolder;
    margin-top:50px;
  }

  .record-note-1, .reflection-note-1, .arm-note-1{
    font-size: 15px;
    font-weight: bolder;
  }

  img.record-image-entity-1, img.reflection-image-entity-1, img.arm-image-entity-1{
  height: 78px;
  }

  .hello-index-second{
    height: 200px;
    font-family: MS mincho;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
    font-size: 24px;
    background-color: white;
  }

  .hello-index-second-span{
    font-family:Book Antiqua;
  }

  .hello-index-bottom{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: MS mincho;
    font-weight: bolder;
    text-align: center;
    margin: 100px 0px 00px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 24px;
    background-color: white;
  }

/*holleo/index終わり*/


/*home/menu.html.erb*/

  .home-menu-1{
    margin: 0 auto;
    margin-bottom: 100px;
    position: relative;
    height:700px;
  }

  .record-1{
    margin-right: 240px;
    position: absolute; top: 62%; left: 10%;
  }

  .reflection-1{
    margin-right: 80px;
    position: absolute; top: 40%; left: 20%;
  }

  .arm-1{
    position: absolute; top: 18%; left: 30%;
  }

  .record-1, .reflection-1, .arm-1{
    display:flex;
    align-items:center;
    justify-content: flex-end;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
  }
  
  .record-1:hover, .reflection-1:hover, .arm-1:hover{
    opacity: 1 ;

  }

  .record-sign, .reflection-sign, .arm-sign{
    text-decoration: none;
    width:250px;
    height:250px;
    margin-right:50px;
    border-radius: 50%;
    border: solid;
    background-color:rgb(0, 128, 0);
    border-color:transparent;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .record-sign-link, .reflection-sign-link, .arm-sign-link{
    text-decoration: none;
    color:white;
  }
  
  .record-note, .reflection-note, .arm-note{
        font-size: 20px;
        font-weight: bolder;
        margin-top:50px;
  }

  img.record-image-entity, img.reflection-image-entity, img.arm-image-entity{
    height: 154px;
  }

/*home/menu.html.erb終わり*/

/*home/menu_record.html.erb*/
  .home-menu-record-title{
    text-align: center;
  }
  .home-menu-record-matome{
    display: flex;
  }

  .home-menu-record-thermometer-sign, .home-menu-record-PSS4-sign, .home-menu-record-zatsudan-sign{
    border-radius: 50% ;
    background-color: rgb(0, 128, 0);
    height: 250px; width: 250px;
    justify-content: center;
    display:flex;
    align-items: center;
    font-size: 24px;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
  }

  .home-menu-record-thermometer-sign-1, .home-menu-record-PSS4-sign-1, .home-menu-record-zatsudan-sign-1{
    border-radius: 50% ;
    background-color: rgb(0, 128, 0);
    height: 250px; width: 250px;
    justify-content: center;
    display:flex;
    align-items: center;
    font-size: 24px;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
    margin: 0px 0px 0px 10%;
  }

  .home-menu-record-thermometer-note-1{
    width: 50%;
    margin-left: 10%;
    z-index: 1;
  }

  .home-menu-record-thermometer-sign{
    position: absolute; top: 10%; left: 28%
  }

  .home-menu-record-PSS4-sign{
    position: absolute; top: 10%; left: 0; right: 0; margin: auto;
  }

  .home-menu-record-zatsudan-sign{
    position: absolute; top: 10%; right: 28% ;
  }
  .home-menu-record-thermometer-sign-link, .home-menu-record-PSS4-sign-link, .home-menu-record-zatsudan-sign-link{
    text-decoration: none;
    color: white;
  }

  .home-menu-record-thermometer-note, .home-menu-record-PSS4-note, .home-menu-record-zatsudan-note{
    font-size: 16px;
    height: 20%;
    width: 80%;
    margin: 0 auto;
    padding: 24px;
    position: absolute; top: 70%; left: 10%;
    border: solid;
    background-color: white;
    border-radius: 24px;
    display: none;
  }

  .home-menu-record-thermometer-sign:hover{
    opacity:1;
  }

  .home-menu-record-thermometer-sign-1:hover{
    opacity:1;
  }

  .home-menu-record-thermometer-sign:hover + .home-menu-record-thermometer-note{
    display:block;
  }

  .home-menu-record-PSS4-sign:hover{
    opacity:1;
  }
  .home-menu-record-PSS4-sign:hover + .home-menu-record-PSS4-note{
    display:block;
  }

  .home-menu-record-zatsudan-sign:hover{
    opacity:1;
  }
  .home-menu-record-zatsudan-sign:hover + .home-menu-record-zatsudan-note{
    display:block;
  }
/*home/menu_record.html.erb*/


/*thermometers/new*/

  .thermometersnewtitle{
    text-align: center;
  }

  .thermometer{display:flex;
    justify-content:space-around;
    background-image: url("../../images/nature.png")
  }

  .commentary, .pssfour-new-commentary, .zatsudan-new-commentary{
  background-color: rgba(255, 255, 255, 0.9);
  width: 60%; height: 65%;
  padding: 20px;
  display: table;
  border: solid;
  border-radius: 20px;
  border-color: rgba(0, 0, 0, 0.5);
  position: absolute; top: 25%; left:20%;
  display: none;

  }

  .pssfour-new-commentary-inner, .zatsudan-new-commentary-inner{
    display: table-cell;
    vertical-align: middle;
  }

  .thermometersnewtitle:hover + .commentary{
    display: block;
  }

  .pssfour-new-title:hover + .pssfour-new-commentary{
    display: block;
  }

  .zatsudan-new-title:hover + .zatsudan-new-commentary{
    display: block;
  }

  .progress{
  background-color:transparent;

  }

  #progress{
    margin-bottom: 50px;
    margin-left: 100px;
  }

  #progress10, #progress9, #progress8, #progress7, #progress6, #progress5, #progress4, #progress3, #progress2, #progress1{
    display:flex;
  }

  #box10, #box9, #box8, #box8, #box7, #box6, #box5, #box4, #box3, #box2, #box1{
    background-color:transparent;
    height:50px;
    width:100px;
    border-style: solid;
    border-color: black;
    border-top:none;
    cursor: pointer;
    outline: none;
    appearance: none;
  }

  #box10, #box9, #box8, #box7, #box6, #box5, #box4, #box3, #box2 {
    border-bottom-color: gray;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
  }

  #box1{
    border-radius: 0px 0px 50px 50px;
  }


  #note10, #note9, #note8, #note7, #note6, #note5, #note4, #note3, #note2, #note1{
    margin-left:10px;
    font-weight: bolder;
  }

  .note10-comment{
    margin: 0;
    font-weight: bolder;
  }

  #box1:hover + .box10{
    background-color: red;
  }

  .stresslevel{
    height:60%;
    margin-bottom: 50px;
    padding: 20px;
    background-color: transparent;
    text-align: center;
    border-radius: 10px;
    width: 40%;
    position: relative;
  }

  .stresslevel-question{
    font-size: 20px;
    margin: 0px;
    z-index: 1;
  }

  input[type="text"] {
  height: 100px;
  }

  /* makimono
    .makimono{
      width: 80%;
      position: absolute; top: -5%; left: 0%;
      z-index: 0;

    }
  */


  textarea{
  resize:none;
  height: 100px;
  width: 400px;
  }

  #temperature{
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    font-size: 60px;
    width: 120px;
  }
/*thermometers/new終わり*/

/*thermometers/show*/

    .container{
        background-color:white;
        border: solid;
        border-radius: 20px;
        border-color: gray;
        padding: 24px 24px 0px 24px ;
    }
    
    .container-weapon{
      background-color:white;
      border: solid;
      border-radius: 20px;
      border-color: gray;       
      width: 60% ;
      margin: 0 auto;
      padding: 24px 24px 0px 24px;
      }

    .stressnarabikae{
        margin: 10px;
    }


  
  .graph{
      margin: 50px;
  }
  
  .ichiran{
      width: 60%;
      margin: 0 auto;
  }
  
  .container1{
      font-size: 24px;
      margin: 10px;
  }
  
  .container2{
      margin: 10px;
      text-align: left;
  }
  
  
  .koremade{
      text-align:center;
  }
  
  .main-box{
      display: flex;
  }
  
  .sub-box{
      display: flex;
      align-items: center;
      justify-content: flex-end;
  }
  
  .btn-edit{
      margin: 0px 10px 0px 10px;
  }
  
  .time{
      text-align: right;
      margin-left: 20px;
      margin-right: 10px;
  }

  .chart{
        background-color:white ;
  }

  body{
    background-attachment: fixed;
  }

  .graph{
      background-color: white;
      padding: 10px;
  }

/*thermometers/show終わり*/

/*tests_pssfours/new*/
  .question{
    background-color: white;
    border: solid;
    border-radius: 50px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
    box-shadow: 4px 4px black ;
  }
  .question1, .question2, .question3, .question4{
    font-size: 20px
  }
  h1{
    text-align: center;
  }
  .seni{
    text-align: center;
  }
/*tests_pssfours/new*終わり/

/*tests_pssfours/index*/

  .koremade-pss4{
    text-align: center;
    margin: 100px;
  }
  .container-pss4{
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    border: solid;
    border-radius: 30px;
    background-color: white;
    padding: 20px;
  }

  .pss4-index-mainbox-memo{
    display:flex;
    align-items:center;
  }

  .container-pss4-1{
    font-size: 30px;
    text-align:center;
  }
  .sub-box2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .btn-edit-pss4{
    margin-right: 10px;
  }

  .time-pss4{
    text-align: right;
    margin-left: 20px;
    margin-right: 10px;
  }

/*tests_pssfours/index終わり*/

/*zatsudans_new*/

  .zatsudan-new-hajimekata-question{
    background-color: rgba(0, 128, 0, 0.2);
  }

  .zatsudan-new-hirogekata-question{
    background-color: rgba(255, 255, 0, 0.2);
  }

  .zatsudan-new-kikikata-question{
    background-color: rgba(0, 0, 255, 0.2);
  }

  .zatsudan-new-moriagekata-question{
    background-color: rgba(255, 0, 0, 0.2);
  }

  .zatsudan-new-hajimekata-question-A, .zatsudan-new-hirogekata-question-A, .zatsudan-new-kikikata-question-A, .zatsudan-new-moriagekata-question-A{
    font-size: 24px;
    margin-bottom: 0px;
  }

  .zatsudan-new-question-B{
    margin-top: 0px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 16px;
  }
  .zatsudan-new-question-B-orikaesi{
    margin-top: 0px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-align: left;
  }
  .zatsudan-new-question-B-orikaesi-center{
    margin-top: 0px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-align: center;
  }
  
/*zatsudans_new終わり*/

/*zatsudan-index*/

  .zatsudan-index-container{
    background-color:white;
    border: solid;
    border-radius: 20px;
    border-color: gray;       
    width: 60% ;
    margin: 0 auto;
    padding: 24px 24px 0px 24px;
  }

  .zatsudan-index-memo{
    margin: 10px 0px 0px 0px;
    text-align: left;
  }

  .zatsudan-index-totalscore{
    margin: 0;
  }

/*zatsudan-index終わり*/

/*ifthens/new.html.erb*/
  #ifthen, #todo{
    width: 100%;
  }
  .ifthen-new-input{
    width: 50%;
    position:absolute; left:25%;
    text-align: center;
    margin-top: 50px;
  }
/*ifthens/new.html.erb*/

/*home/menu_weapon*/

.weapon-index-link{
  margin: 0 auto;
  text-align: center;
}

.home-menu-weapon-container{
  width: 50% ;
  margin: 0 auto;
  background-color: white;
  border: solid;
  border-color: black;
  border-radius: 24px;
  padding: 36px 24px 36px 24px;
}

.weapontitle{
  text-align: center;
}

.weaponcontainer{
  width: 90% ;
  margin: 0 auto;
  background-color: white;
  border: solid;
  border-color: black;
  border-radius: 24px;
  padding: 36px 24px 36px 24px;
}

.username{
  text-decoration: none;
  color: green;
}

/*home/menu_weapon*/

.pleaselogin-button{
  display: flex;
  justify-content: center;
}

.pleaselogin{
  text-align: center;
}

.pleaselogin-container{
  margin-top: 200px;
}